In [0]:
import csv
import requests
import pandas as pd

from bs4 import BeautifulSoup

In [0]:
def scrape_data(url):
  response = requests.get(url, timeout=10)
  soup = BeautifulSoup(response.content, 'html.parser')
  
  table = soup.find_all('table')[1]
  
  rows = table.select('tbody > tr')

  header = [th.text.rstrip() for th in rows[0].find_all('th')]

  with open('output.csv', 'w') as csv_file:
    writer = csv.writer(csv_file)
    writer.writerow(header)
    for row in rows[1:]:
      data = [th.text.rstrip() for th in row.find_all('td')]
      writer.writerow(data)

In [0]:
if __name__=="__main__":
  url = "https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population"
  scrape_data(url)

In [7]:
!ls

output.csv  sample_data

In [11]:
output = pd.read_csv('output.csv').rep
output.head()

      vteLists of countries by population statistics
0                               \nCurrent population
1  \nAfrica\nAsia\nEurope\nNorth America\nCaribbe...
2  \nAmericas\nArab world\nCommonwealth of Nation...
3  \nNational capitals\nCities proper\nMetropolit...
4  \nPast and future population\nWorld population...

In [15]:
output.replace('\n', ' ', regex=True)

       vteLists of countries by population statistics
0                                  Current population
1    Africa Asia Europe North America Caribbean Oc...
2    Americas Arab world Commonwealth of Nations E...
3    National capitals Cities proper Metropolitan ...
4    Past and future population World population e...
5    Current density Past and future population de...
6    Population growth rate Natural increase Birth...
7    Age at first marriage Age structure Dependenc...
8    Antidepressant consumption Antiviral medicati...
9    Bloomberg Innovation Index Education Index In...
10   Development aid given Official Development As...
11   List of international rankings List of top in...